@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #2563EB;
    --secondary-color: #1E293B;
    --background-color: #F8FAFC;
    --accent-color: #10B981;
    --sub-text-color: #555;
    --delete-color: #EF4444;
}

body {
    background-color: var(--background-color);
    /* padding-top: 1rem; */
    /* overflow: hidden; */
}

section {
  min-height: 100vh;
  padding: 8rem 5% 2rem;
}

.header {
    width: 100%;
    padding: 1rem 5%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid #b8b8b8;
}

#navbar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--secondary-color);
    font-weight: 600;
}

.get-started {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.get-started:hover,
.view-demo:hover,
.cta-btn:hover {
    cursor: pointer;
}

.view-demo {
    background-color: #fff;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    box-shadow: 0 0 0.2rem var(--sub-text-color);
}

.app-name h1 {
    color: var(--primary-color);
}

/* #main {
    box-shadow: 0 0 0.3rem var(--sub-text-color);
    border-radius: 0.3rem;
} */

.hero-texts h2.chaos {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#hero {
    display: flex;
}

.hero-texts p {
    color: var(--sub-text-color);;
    line-height: 2;
}

.hero-btns {
    width: fit-content;
    display: flex;
    margin-top: 2rem;
}

.hero-img {
    width: 50vw;
    border-radius: 2rem;
}

.manage {
    font-size: 3rem;
}

.manage span {
    color: var(--accent-color);
}

#problem-section {
    background-color: #5555550a;
    padding: 3rem 5%;
}

#problem-section h1,
#solution-section h1 {
    color: var(--accent-color);
    margin-bottom: 2rem;
    text-align: center;
}

.problem-section-cards,
.solution-section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.problem-card,
.solution-card {
    background-color: var(--background-color);
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem #b8b8b8;
}

/* .problem-card .problem-img {
   
} */

.problem-card .title,
.problem-card p {
    margin-bottom: 2rem;
}

.problem-card p {
    color: var(--sub-text-color);;
    line-height: 1.5;
}

#solution-section,
#how-section,
#cta {
    padding: 3rem 5%;
}

.solution-card {
    align-items: center;
}

.solution-card p {
    color: var(--sub-text-color);
}

.solution-card .title,
.solution-card p {
    margin-top: 1rem;
}

#how-section h2 {
    margin: 0 0 2rem 2rem;
    color: var(--accent-color);
}

#how-section p,
.icon-box {
    margin-bottom: 1rem;
}

#how-section .how-box {
    margin: 1rem 2rem;
}

#how-section .how-container {
    display: flex;
}

.sub-paragraph {
    color: var(--sub-text-color);
}

#cta {
    background-color: #5555550a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cta .cta-btn {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 1.2rem;
    margin-top: 3rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.sidebar {
    width: 20%;
    /* background-color: green; */
    min-height: 100vh;
    padding: 2rem;
    border-right: 0.3rem solid var(--sub-text-color);
}

.sidebar h1 {
    margin-bottom: 2rem;
}

.sidebar-contents {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin-bottom: 2rem;
}

#dashboard {
    min-height: 100vh;
    /* background-color: red; */
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
}

.dashboard-container {
    width: 80%;
    /* background-color: purple; */
    padding: 2rem;
}

.dashboard-container h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.dashboard-container .tenants-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tenants-box .inner-box {
    background-color: var(--background-color);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem solid var(--sub-text-color);
    border-radius: 0.5rem;
}

.tenants {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.tenants h2 {
    margin-bottom: 3rem;
}

.search-con {
    width: 30%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid var(--sub-text-color);
    border-radius:  0.3rem;
    overflow: hidden;
}

.search-con input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    background: transparent;
}

.tenants-btns button {
    color: var(--background-color);
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.tenants-btns button:hover {
    cursor: pointer;
}

.tenants-btns button#reg-tenant {
    background-color: var(--accent-color);
}

button.send-email {
    background-color: var(--primary-color);
}

#property-container {
    width: 90%;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.property-item {
    background-color: var(--background-color);
    padding: 1rem;
    margin: 1rem;
    border: 0.1rem solid var(--sub-text-color);
    border-radius: 0.5rem;
}

.property-item h3 {
    width: fit-content;
}

.tenant-item {
    background-color: var(--background-color);
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border: 0.07rem solid var(--sub-text-color);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    color: var(--sub-text-color);
    font-size: 0.8rem;
}

.action-btns button,
.details-btns button {
    color: var(--background-color);
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
}

.action-btns button:hover,
.details-btns button:hover {
    cursor: pointer;
}

.view-btn {
    background-color: var(--primary-color);
}

.delete-btn {
    background-color: var(--delete-color);
}

#details-container {
    min-height: 100vh;
    padding: 2rem 4%;
}

.info-section {
    margin: 3rem 0;
}

.info-section h1 {
    margin-bottom: 1rem;
}

.info-section p {
    border-bottom: 0.1rem solid var(--sub-text-color);
    padding: 1rem 0;
}

.docs-header {
    margin-bottom: 1rem;
}

.name-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-btn {
    background-color: var(--accent-color);
}

#footer {
    background-color: var(--secondary-color);
    padding: 3rem 5%;
}

#footer h3 {
    color: var(--background-color);
    margin-bottom: 1rem;
}

.footer-link {
    color: var(--background-color);
    margin-right: 1rem;
}