@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #2563EB;
    --secondary-color: #1E293B;
    --background-color: #F8FAFC;
    --accent-color: #10B981;
    --sub-text-color: #555;
}

body {
    background-color: var(--background-color);
    padding: 1rem 0;
    /* overflow: hidden; */
}

section {
  min-height: 100vh;
  padding: 8rem 5% 2rem;
}

.header {
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid #b8b8b8;
}

#navbar {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: var(--secondary-color);
    font-weight: 600;
}

.get-started {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.get-started:hover,
.view-demo:hover {
    cursor: pointer;
}

.view-demo {
    background-color: #fff;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
    box-shadow: 0 0 0.2rem var(--sub-text-color);
}

.app-name h1 {
    color: var(--primary-color);
}

/* #main {
    box-shadow: 0 0 0.3rem var(--sub-text-color);
    border-radius: 0.3rem;
} */

.hero-texts h2.chaos {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#hero {
    display: flex;
}

.hero-texts p {
    color: var(--sub-text-color);;
    line-height: 2;
}

.hero-btns {
    width: fit-content;
    display: flex;
    margin-top: 2rem;
}

.hero-img {
    width: 50vw;
}

.manage {
    font-size: 3rem;
}

.manage span {
    color: var(--accent-color);
}

#problem-section {
    background-color: #5555550a;
    padding: 3rem 5%;
}

#problem-section h1,
#solution-section h1 {
    color: var(--accent-color);
    margin-bottom: 2rem;
    text-align: center;
}

.problem-section-cards,
.solution-section-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.problem-card,
.solution-card {
    background-color: var(--background-color);
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem #b8b8b8;
}

/* .problem-card .problem-img {
   
} */

.problem-card .title,
.problem-card p {
    margin-bottom: 2rem;
}

.problem-card p {
    color: var(--sub-text-color);;
    line-height: 1.5;
}

#solution-section {
    padding: 3rem 5%;
}

.solution-card {
    align-items: center;
}

.solution-card p {
    color: var(--sub-text-color);
}

.solution-card .title,
.solution-card p {
    margin-top: 1rem;
}